<form [formGroup]="addUser" (ngSubmit)="onSubmit()">

  <input id="userEmail" type="text" formControlName="userEmail" placeholder="Email">

  <input id="userName" type="text" formControlName="userName" placeholder="Pseudo">

  <input id="password" type="password" formControlName="password" placeholder="Mot de passe">

  <input id="confirm" type="password" formControlName="confirm" placeholder="Confirmation du mot de passe">

  <div>

    Nous avons besoin de ces coordonnées pour vous donner la météo de votre ville

    <input id="city" type="text" formControlName="city" placeholder="Ville">

    <input id="zip-code" type="text" formControlName="zipcode" placeholder="Code postal">

  </div>

  <button type="submit">Register</button>

  <!-- TODO : Register via GOOGLE and FACEBOOK -->

</form>
