.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__yesBtn {
  background: var(--btn-delete-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
  width: 45%;
}

.modal__yesBtnDisabled {
  background: var(--third-bg-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
  width: 45%;
}

.modal__noBtn {
  background: #228b22;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
  width: 45%;
}
