.meteo {
  display: flex;
  flex-direction: column;
  color: var(--secondary-bg-color);
  overflow: scroll;
}

.meteo__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.meteo__header form {
  display: flex;
}

.meteo__header form img {
  cursor: pointer;
}

.meteo__header form input {
  background-color: rgba(145, 157, 158, 0.3);
  border-radius: var(--lg-radius);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  height: 32px;
  width: 150px;
  padding-left: 10px;
  color: var(--secondary-bg-color)
}

.meteo__header form input::placeholder {
  font-size: var(--lg-font-size);
  color: var(--normal-text-color)
}

.meteo__header span {
  font-size: var(--lg-font-size);
}

.mobile_meteo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ffffff;
}

/*input {*/
/*  position: relative;*/
/*  bottom: 0.66em;*/
/*  padding: 0.5em;*/
/*  width: 10em;*/
/*  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 12px rgba(0, 0, 0, 0.25);*/
/*  background: linear-gradient(180deg, var(--main-bg-color) 0%, #686868 100%);*/
/*  border-radius: 12px;*/
/*  color: #ffffff;*/
/*}*/

.form_and_reset {
  display: flex;
  flex-direction: row;
}

.main-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99%;
  margin-inside: 0.5em;
  margin: 4vh auto;
}

.inner-main-data {
  margin-inside: 1em;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;

  font-size: 1em;
  text-align: center;
}

.current-temperature {
  font-size: 64px;
  font-weight: bolder;
}

.temperature-range {
  display: flex;
  flex-direction: row;
  margin-inside: 1em;
}


.secondary-data {
  display: flex;
  justify-content: space-around;
  background-color: rgba(145, 157, 158, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: var(--lg-radius);
  padding: 1em 2em;
  margin: 1em;
}

.inner-secondary-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inner-secondary-data span {
  margin-left: 0.5em;

}

.inner-secondary-data img {
  height: 24px;
  width: 24px;

}

.secondary-data .inner-secondary-data:nth-child(2) img {
  height: 24px;
  width: 12px;

}

.forecast-today {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.inner-secondary-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.inner-secondary-element span:first-child {
  font-weight: bold;
}

.inner-daily-forecast img {
  width: 24px;
  height: 24px;
}

.inner-secondary-element .meteo_h\+3,
.inner-secondary-element .meteo_h\+6,
.inner-secondary-element .meteo_h\+9,
.inner-secondary-element .meteo_h\+12 {
  flex-direction: column;
  align-items: center;
}

.meteo_h\+6.inner-secondary-data .picture-secondary img {
  height: 24px !important;
  width: 24px !important;
}

.inner-secondary-element .meteo_h\+3 div:nth-child(2),
.inner-secondary-element .meteo_h\+6 div:nth-child(2),
.inner-secondary-element .meteo_h\+9 div:nth-child(2),
.inner-secondary-element .meteo_h\+12 div:nth-child(2) {
  margin: 1em 0;
}

.inner-daily-forecast {
  display: flex;
  flex-direction: column;
}

.table_forecast_nextDays {
  background-color: rgba(145, 157, 158, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: var(--lg-radius);
  padding: 1em 2em;
  margin: 1em;
}

.table_forecast_nextDays span {
  font-weight: bold;
}

table {
  width: 100%;
}

table img {
  width: 24px;
  height: 24px;
}

tr {
  text-align: center;
}

.picture-main {
  max-width: 7rem;
}

.picture-secondary {
}

.reset_button {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 0.33em;
}

.scrollable-data {
  display: flex;
  flex-direction: column;
}

@media screen and (min-height: 620px) {

  .current-temperature {
    font-weight: bolder;
  }

  .scrollable-data {
    display: flex;
    flex-direction: column;
  }

  .picture-main {
    max-width: 8rem;
  }

  .picture-secondary {
  }

}

@media screen and (min-height: 700px) {

  .scrollable-data {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .picture-main {
    width: 10rem;
  }

  .picture-secondary {
  }

}

@media screen and (min-height: 820px) {


  .scrollable-data {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
  }

  .picture-main {
    width: 10rem;
  }

  .picture-secondary {
  }

}

@media (min-width: 769px) {
  main {
    border-radius: var(--xl-radius);
    padding: 1em;
    margin: 1em;
  }

}
