main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
  overflow: hidden;
}

main .profile {
  border-radius: 36px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5em 1em 1em 1em;
  position: relative;
}

.custom__form input {
  height: 0;
}

main form {
  padding:0.5em  2.5em ;
}

main form div:nth-child(2) {
  display: flex;
  align-items: baseline;
}

main form i {
  margin-left: 1em;
  cursor: pointer;
}

app-input {
  flex:1;
}

.custom__image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom__image-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
  background-color: var(--secondary-bg-color);
}

.custom__image-container img {
  width:72px;
  height: 72px;
  border-radius: 5px;
  object-fit: cover;
}

.upload {
  width: 67px;
  position: relative;
  margin: auto;
}

.upload img {
  border-radius: var(--sm-radius);
}

.upload .round input[type = "file"] {
  position: absolute;
  transform: scale(6);
  opacity: 0;
  top:25%
}

.upload .round {
  position: absolute;
  bottom: 0;
  width: 67px;
  height: 67px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.deleteBtn{
  display: flex;
  background: var(--btn-delete-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.50em 0.75em;
  position: absolute;
  bottom: 1vh;
  right: 3vw;
}

.planning__cards{
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  margin-left: 0.5em;
  overflow-y: auto;
  height: 50px;
}

.planning__card{
  border: solid #919D9E;
  border-radius: 8px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.shared_planning__card{
  border: solid #919D9E;
  border-radius: 8px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.planning__card textarea{
  height: 95%;
  overflow-y: auto;
  justify-content: center;
}

.next_task_present__upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.next_task_present__bottom{
  display: flex;
  flex-direction: column;
}

.inner__next_task__bottom{
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}

.planning__cards img{
  height: 30px;
  width: 30px;
}

@media screen and (min-height: 650px){
  .custom__image-container label {
    width: 100px;
    height: 100px;
  }

  .custom__image-container img {
    width: 120px;
    height: 120px;
  }

  .upload {
    width: 112px;
    position: relative;
    margin: auto;
  }

  .upload .round {
    width: 112px;
    height: 112px;
    line-height: 33px;
  }

  .planning__cards{
    height: 70px;
  }
}

@media screen and (min-height: 660px) {
  .custom__image-container label {
    width: 100px;
    height: 100px;
  }

  .custom__image-container img {
    width: 120px;
    height: 120px;
  }

  .upload {
    width: 112px;
    position: relative;
    margin: auto;
  }

  .upload .round {
    width: 112px;
    height: 112px;
    line-height: 33px;
  }

  .planning__cards{
    height: 80px;
  }
}

@media screen and (min-height: 700px){
  .custom__image-container label {
    width: 100px;
    height: 100px;
  }

  .custom__image-container img {
    width: 120px;
    height: 120px;
  }

  .upload {
    width: 112px;
    position: relative;
    margin: auto;
  }

  .upload .round {
    width: 112px;
    height: 112px;
    line-height: 33px;
  }

  .planning__cards{
    height: 130px;
  }
}

@media screen and (min-height: 725px){
  .custom__image-container label {
    width: 100px;
    height: 100px;
  }

  .custom__image-container img {
    width: 120px;
    height: 120px;
  }

  .upload {
    width: 112px;
    position: relative;
    margin: auto;
  }

  .upload .round {
    width: 112px;
    height: 112px;
    line-height: 33px;
  }

  .planning__cards{
    height: 145px;
  }
}

@media screen and (min-height: 800px){
  .custom__image-container label {
    width: 100px;
    height: 100px;
  }

  .custom__image-container img {
    width: 120px;
    height: 120px;
  }

  .upload {
    width: 112px;
    position: relative;
    margin: auto;
  }

  .upload .round {
    width: 112px;
    height: 112px;
    line-height: 33px;
  }

  .planning__cards{
    overflow-y: hidden;
    height: revert;
  }

  .shared_planning__cards{
    overflow-y: auto;
    height: 125px;
  }
}

@media screen and (min-height: 855px){
  .custom__image-container label {
    width: 100px;
    height: 100px;
  }

  .custom__image-container img {
    width: 120px;
    height: 120px;
  }

  .upload {
    width: 112px;
    position: relative;
    margin: auto;
  }

  .upload .round {
    width: 112px;
    height: 112px;
    line-height: 33px;
  }

  .planning__cards{
    overflow-y: hidden;
    height: revert;
  }

  .shared_planning__cards{
    overflow-y: auto;
    height: revert;
  }
}
