<main>
  <div class="profile">
    <div id="inputGroup" style="width: 100%;">
      <!--      <div-->
      <!--        style="text-align: center; filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)); margin-top:-4em; border-radius: 8px"-->
      <!--        class="profile-pic-div">-->
      <!--                <img width="112" height="112"-->
      <!--                     [src]="currentUser?.photo != null ? currentUser?.photo: '/assets/profilePicture/neutral_avatar.png'"/>-->
      <!--                <label id="uploadBtn" for="file">Choose Photo</label>-->
      <!--                <input type="file" id="file" accept="image/jpeg" style="display: none"/>-->
      <!--        -->

      <!--      </div>-->

      <div class="upload"
           style="text-align: center; filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)); margin-top:-4em; border-radius: 8px">
        <img
          [src]="this.imageURL ? this.imageURL : '/assets/profilePicture/neutral_avatar.png'"
          width="112"
          height="112" alt="">
        <!--        <img-->
        <!--          [src]="this.currentUser?.photo ? this.currentUser?.photo : '/assets/profilePicture/neutral_avatar.png'"-->
        <!--          width="112"-->
        <!--          height="112" alt="">-->
        <div class="round">
          <input (change)="selectFile($event)" type="file">
        </div>
      </div>

      <form [formGroup]="formUser" (ngSubmit)="submitUpdateProfile()">
        <app-input formControlName="username" id="input-username" label="Username" type="text" name="username">
        </app-input>
        <div>
          <app-input formControlName="password" id="input-password" label="Password"
                     [type]="isVisible ? 'text' : 'password'" name="password">
          </app-input>
          <div (click)="switchPasswordVisibility()">
            <i [ngClass]="isVisible ? 'fa-eye-slash': 'fa-eye'" class="fa-solid"></i>
          </div>

        </div>
        <app-input formControlName="city" id="input-city" label="City" type="text" name="city">
        </app-input>
        <app-input formControlName="zipcode" id="input-zipcode" label="Zip Code" type="text" name="zipcode">
        </app-input>
      </form>
      <div>
        <app-submit-button [styles]="updateBtnStyle" text="Update"></app-submit-button>
      </div>
      <button type="button" (click)="openDeleteDiag()">Delete count</button>
    </div>
  </div>

</main>
