<main>
  <div class="profile">
    <div id="inputGroup" style="width: 100%;">

      <div class="upload"
           style="text-align: center; filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25)); margin-top:-4em; border-radius: 8px">
        <img
          [src]="this.imageURL ? this.imageURL : '/assets/profilePicture/neutral_avatar.png'"
          width="112"
          height="112" alt="">
        <div class="round">
          <input (change)="selectFile($event)" type="file">
        </div>
      </div>

      <form [formGroup]="formUser" (ngSubmit)="submitUpdateProfile()">
        <app-input formControlName="username" id="input-username" label="Username" type="text" name="username">
        </app-input>
        <div>
          <app-input formControlName="password" id="input-password" label="Password"
                     [type]="isVisible ? 'text' : 'password'" name="password">
          </app-input>
          <div (click)="switchPasswordVisibility()">
            <i [ngClass]="isVisible ? 'fa-eye-slash': 'fa-eye'" class="fa-solid"></i>
          </div>

        </div>
        <app-input formControlName="city" id="input-city" label="City" type="text" name="city">
        </app-input>
        <app-input formControlName="zipcode" id="input-zipcode" label="Zip Code" type="text" name="zipcode">
        </app-input>
        <app-submit-button [styles]="updateBtnStyle" text="Update"></app-submit-button>
      </form>
      <div class="planning__cards">
        <span>My Agenda</span>
        <div class="planning__card" (click)="redirectToPlanning()">
          <div class="next_task_present__upper" *ngIf="(ownerNextTask | async) != null">
            <span>Agenda 1</span>
            <span>{{(this.ownerNextTask | async)?.dateTaskStart | date: 'HH:mm' : '+0200'}} -
              {{(this.ownerNextTask | async)?.dateTaskEnd | date: 'HH:mm' : '+0200'}} /
              {{(this.ownerNextTask | async)?.dateTaskStart | date: 'dd-MM-yyyy' : '+0200'}}</span>
          </div>
          <div class="next_task_absent__upper" *ngIf="(ownerNextTask | async) == null">
            <span>Agenda 1</span>
          </div>
          <div class="next_task_present__bottom" *ngIf="(ownerNextTask | async) != null">
            <span>Proch. Tâche :</span>
            <div class="inner__next_task__bottom">
              <div>{{(ownerNextTask | async)?.nameTask}}</div>
              <div *ngIf="(ownerNextTask | async)?.description != ''">
                <textarea readonly>{{(ownerNextTask | async)?.description}}</textarea>
              </div>
              <div *ngIf="(ownerNextTask | async)?.description == ''">
                <textarea readonly>Pas de description pour cette tâche</textarea>
              </div>
              <img [src]="this.imageURL ? this.imageURL : '/assets/profilePicture/neutral_avatar.png'" alt="user pic">
            </div>
          </div>
          <div class="next_task_absent__bottom inner__next_task__bottom" *ngIf="(ownerNextTask | async) == null">
            <span>Pas de tâche prochainement</span>
            <img [src]="this.imageURL ? this.imageURL : '/assets/profilePicture/neutral_avatar.png'" alt="user pic">
          </div>
        </div>
        <div class="shared_planning__cards" *ngIf="(this.cardPlanningSharedList | async) != []">
          <div>Shared planning</div>
          <ng-container *ngFor="let cardPlanningShared of cardPlanningSharedList | async;let index = index">
            <div class="shared_planning__card" (click)="redirectToPlanning(cardPlanningShared.nextTask.idPlanning)">
              <div class="next_task_present__upper" *ngIf="cardPlanningShared.nextTask != null">
                <span>Agenda {{index + 2}}</span>
                <span>{{cardPlanningShared.nextTask.dateTaskStart | date: 'HH:mm' : '+0200'}} -
                  {{cardPlanningShared.nextTask.dateTaskEnd | date: 'HH:mm' : '+0200'}} /
                  {{cardPlanningShared.nextTask.dateTaskStart | date: 'dd-MM-yyyy' : '+0200'}}
              </span>
              </div>
              <div class="next_task_absent__upper" *ngIf="cardPlanningShared.nextTask == null">
                <span>Agenda {{index + 2}}</span>
              </div>
              <div class="next_task_present__bottom" *ngIf="cardPlanningShared.nextTask != null">
                <div>{{cardPlanningShared.nextTask?.nameTask}}</div>
                <div class="inner__next_task__bottom">
                  <span>Proch. Tâche :</span>
                  <div *ngIf="cardPlanningShared.nextTask.description != ''">
                    <textarea readonly>{{cardPlanningShared.nextTask?.description}}</textarea>
                  </div>
                  <div *ngIf="cardPlanningShared.nextTask.description == ''">
                    <textarea readonly>Pas de description pour cette tâche</textarea>
                  </div>
                  <img
                    [src]="cardPlanningShared.image ? cardPlanningShared.image : '/assets/profilePicture/neutral_avatar.png'"
                    alt="user pic">
                </div>
              </div>
              <div class="next_task_absent__bottom inner__next_task__bottom"
                   *ngIf="cardPlanningShared.nextTask == null">
                <span>Pas de tâche prochainement</span>
                <img
                  [src]="cardPlanningShared.image ? cardPlanningShared.image : '/assets/profilePicture/neutral_avatar.png'"
                  alt="user pic">
              </div>
            </div>
          </ng-container>
        </div>
        <div *ngIf="(this.cardPlanningSharedList | async) == []">
          Pas de planning partagé actuellement
        </div>
      </div>
      <button class="deleteBtn" type="button" (click)="openDeleteDiag()">Delete account</button>
    </div>

  </div>
</main>
