<main>
  <div class="planning__header">
    <div class="planning__agendaSelector">
      <div *ngIf="currentUser?.sharedPlanningId != null && currentUser?.sharedPlanningId!.length > 0">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </div>
      <div>
        <span
          style="color: white; font-size: 16px; margin-left: 2em; margin-right: 2em">{{currentPlanning?.namePlanning}}</span>
      </div>
      <div *ngIf="currentUser?.sharedPlanningId != null && currentUser?.sharedPlanningId!.length > 0">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </div>
    </div>
    <div class="planning__switchEvents">
      <label class="toggle">
        <input type="checkbox">
        <span class="slider"></span>
        <span class="labels" data-off="EVENTS" data-on="EVENTS"></span>
      </label>
    </div>
  </div>
  <div class="planning__social">
    <div class="planning__peopleOwner">
      <img height="40px" width="40px"
           [src]="currentUser?.photo != null ? '/assets/profilePicture/'+currentUser?.photo : '/assets/profilePicture/neutral_avatar.png'"/>
    </div>
    <div *ngIf="currentSharedUsers != null && currentSharedUsers.length > 0; else noShare">
      <div *ngIf="currentSharedUsers.length >= 1">
        <img height="32px" width="32px" style="border: 2px solid red"
             [src]="currentSharedUsers![0].photo != null ? '/assets/profilePicture/'+currentSharedUsers![0].photo : '/assets/profilePicture/neutral_avatar.png'"/>
      </div>
      <div *ngIf="currentSharedUsers.length >=2">
        <img height="32px" width="32px" style="border: 2px solid yellow"
             [src]="currentSharedUsers![1].photo != null ? '/assets/profilePicture/'+currentSharedUsers![1].photo : '/assets/profilePicture/neutral_avatar.png'"/>
      </div>
      <div *ngIf="currentSharedUsers.length >=3">
        <img height="32px" width="32px" style="border: 2px solid white"
             [src]="currentSharedUsers![2].photo != null ? '/assets/profilePicture/'+currentSharedUsers![2].photo : '/assets/profilePicture/neutral_avatar.png'"/>
      </div>
      <div *ngIf="currentSharedUsers.length >3">
        <span style="background: none;">+{{currentSharedUsers.length - 3}}</span>
      </div>
    </div>
    <ng-template #noShare>
      <div>
        No Share...
      </div>
    </ng-template>
    <div class="planning__shareInput">

      <div>
        <span>
              <i class="fa-solid fa-share-nodes" style="background:none"></i>
        </span>
      </div>
      <form autocomplete="off" [formGroup]="formAddShare">
        <input type="text" placeholder="Type a username..." formControlName="emailShare" (keyup.enter)="submitNewShare()"/>
      </form>
    </div>
  </div>

  <div *ngIf="isPlanningLoading; else calendar">
    Loading...
  </div>

  <ng-template #calendar>
    <div *ngIf="!(isManagingTask$|async); else task" class="planning__calendar">
      <app-calendar></app-calendar>
      <app-task-list></app-task-list>
    </div>
    <ng-template #task>
      <app-task-manager></app-task-manager>
    </ng-template>

  </ng-template>


</main>
