.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modal__yesBtn{
  background: var(--btn-delete-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
}

.modal__yesBtnDisabled {
  background: var(--third-bg-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
}

.modal__noBtn{
  background: #228b22;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
}
