/* Make the modal a three-row grid */
/*#modal-content-wrapper {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: grid;*/
/*  grid-template-rows: repeat(1fr, 3);*/
/*}*/

#modal-title {
  font-size: var(--2xl-font-size);
}

#modal-footer {
  justify-self: right;
  align-self: center;
}

#modal-action-button {
  margin-right: 30px;
  background-color: #3b3b3b;
}

#modal-cancel-button {
  background-color: #4e4e4e;
}

.modal__content {
}

.modal__table {
  border-collapse: separate;
  border-spacing: 10px;
}

.modal__table tr > td:nth-child(2) > div > span:nth-child(1) {
  font-size: var(--lg-font-size);
}

.modal__table tr > td:nth-child(2) > div > span:nth-child(2) {
  font-size: var(--md-font-size);
}

::ng-deep .mat-dialog-container {
  padding: 1em;
  border-radius: var(--lg-radius);
}

.toggler-wrapper {
  display: block;
  width: 40px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked + .toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fourth-bg-color);
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}


.modal__deleteBtn {
  background: var(--btn-delete-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
}

.modal__deleteBtn .modal__deleteBtnDisabled {
  background: var(--third-bg-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-radius);
  padding: 0.75em;
  margin: auto auto auto 2em;
}


.modal__deleteBtnDisabled i {
  color: var(--secondary-bg-color)
}

.modal__deleteBtn i {
  color: var(--secondary-bg-color)
}

