<div class="taskManager">
  <h4>{{task == null ? "Create a new task" : "Update this task" }}</h4>
  <form autocomplete="off" class="taskManager__form" [formGroup]="formTask" (ngSubmit)="submitTask()">
    <div style="display: flex;">
      <app-input formControlName="taskName" id="input-taskName" label="Task name" type="text"
                 name="taskName"></app-input>
      <div *ngIf="task && !(planning$ | async)?.readOnly" (click)="deleteTask()" class="taskManager__deleteBtn">
        <i class="fa-solid fa-trash-can fa-xl"></i>
      </div>
    </div>
    <div class="taskManager__dates">
      <div class="taskManager__start">
        <p>Select start date and time</p>
        <div class="taskManager__taskStart">
          <input type="datetime-local" formControlName="taskDateStart">
        </div>
      </div>
      <div class="taskManager__arrowTransition">
        <i class="fa-solid fa-chevron-down fa-lg"></i>
      </div>
      <div class="taskManager__start">
        <p>Select end date and time</p>
        <div class="taskManager__taskStart">
          <input type="datetime-local" formControlName="taskDateEnd">
        </div>
      </div>
    </div>
    <div class="taskManager__notes">
      <p>Note</p>
      <textarea formControlName="taskDescription" rows="4" placeholder="Type something..."></textarea>
    </div>
    <div class="taskManager__actions">
      <div (click)="closeManager()">
        <i class="fa-solid fa-chevron-left"></i>
        <span>Retour</span>
      </div>
      <app-submit-button *ngIf="!(planning$ | async)?.readOnly" [styles]="saveBtnStyle"
                         [text]="this.task ? 'Update': 'Save'"></app-submit-button>
    </div>
  </form>
</div>
