<div style="height: 100%; display: flex; flex-direction: column; max-height: 100%">
  <app-header (onTriggerSidenav)="triggerSidenav()"></app-header>
  <aside class="sidebar" #sidebar>

    <div (click)="triggerSidenav()">
      <i class="fa-solid fa-xmark"></i>
    </div>

    <h3>Menu</h3>

    <nav class="menu">
      <div class="menu-item">
        <a routerLink="planning" (click)="triggerSidenav()">Planning</a>
      </div>
      <div class="menu-item">
        <a routerLink="profile" (click)="triggerSidenav()">Profile</a>
      </div>
      <div class="menu-item">
        <a routerLink="profile" (click)="onLogout()">Logout</a>
      </div>
    </nav>


  </aside>
  <router-outlet></router-outlet>
</div>
