.taskList {
  width: 100%;
  max-width: 100%;
}

.taskList .taskList__addButton {
  margin: 0.5em 1em;
  height: 40px;
  background: var(--secondary-bg-color);
  border: 2px dashed var(--third-bg-color);
  border-radius: var(--md-radius);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.taskList .taskList__addButton i {
  color: var(--main-bg-color);
}

.taskList hr {
  width: 80%;
  margin: auto;
  background-color: var(--third-bg-color);
}


