<div class="taskList">
  <div class="taskList__header">
    <h4>{{dateSelected | date: 'EEEE d MMMM' }}</h4>
  </div>
  <div *ngIf="!readonly" (click)="setManageTask(null)" class="taskList__addButton">
    <i class="fa-regular fa-square-plus fa-2xl"></i>
  </div>
  <div *ngFor="let task of taskList; let i = index" class="taskList__tasks">
    <app-task (click)="setManageTask(task.idTask!)" [task]="task" [dateSelected]="dateSelected"></app-task>
    <hr *ngIf="i != taskList.length-1"/>
  </div>
  <div *ngIf="taskList.length == 0" class="taskList__default">
    There is no scheduled task for this date.
  </div>
</div>
