<h1 mat-dialog-title>{{title}}</h1>
<div *ngIf="localSharedUsers.length > 0; else emptyMessage" class="modal__content">
  <table class="modal__table">
    <thead>
    <tr>
      <th colspan="2">User</th>
      <th>Read-Only</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tr *ngFor="let user of localSharedUsers; let i = index">
      <td><img height="32px" width="32px"
               [src]="user.photo != null ? '/assets/profilePicture/'+user.photo : '/assets/profilePicture/neutral_avatar.png'"/>
      </td>
      <td>
        <div style="display: flex; flex-direction: column">
          <span>{{user.username}}</span>
        </div>
      </td>
      <td>
        <label class="toggler-wrapper style-1">
          <input type="checkbox" [ngModel]="user.readOnly" (change)="updateShare(user)"
                 [disabled]="localIdPlanning != localCurrentUser?.planningId!">
          <div class="toggler-slider">
            <div class="toggler-knob">
              <i *ngIf="localIdPlanning != localCurrentUser?.planningId!"
                 class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </label>
      </td>
      <td>
        <div
          (click)="(localIdPlanning == localCurrentUser?.planningId! || user.idUser == localCurrentUser?.idUser) && deleteShare(user)"
          [ngClass]="(localIdPlanning == localCurrentUser?.planningId! || user.idUser == localCurrentUser?.idUser) ? 'modal__deleteBtn' : 'modal__deleteBtnDisabled' ">
          <i class="fa-solid fa-trash-can fa-xl"></i>
        </div>
      </td>
    </tr>
  </table>

</div>
<ng-template #emptyMessage>
  <p>You have no people shared anymore...</p>
</ng-template>
<button mat-dialog-close>Close</button>
